<div class="social-panel">
  <%= render "service_partial/fb_like_button", :target_url => request.host + target_url %>
  <div class="social-vk">
    <%= render "service_partial/vk_like", :target_url => request.host + target_url %>
  </div>
  <%= render "service_partial/twitter_tweet", :target_url => request.host + target_url %>
</div>