<h2>Новые участники</h2>
<br/>
<ul>
  <% @welcome_users.each do |user| %>
      <li>
        <%= image_tag(user.avatar.url(:small)) %>
        <span><%= user.name || user.email %></span>
      </li>
  <% end %>
</ul>