<div class="body">
<div class="b-first">
  <div class="column-left">
    <%= render "news" %>
  </div>
  <div class="column-right">
    <div class="b-right-banner">
      <%= render "layouts/like_box" %>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="b-advert">
  <%= render "layouts/albums_slider" %>
</div>
<div class="b-events">
  <%= render "events" %>

</div>

<div class="b-community">
<h2><span>Сообщество</span></h2>

<center>
  <h3>Скоро на нашем сайте ...</h3>
</center>


<!--<div class="column-left">-->
<!--<div class="b-modelagencies">-->
<!--<h3>Авторы</h3>-->
<!--<ul>-->
<!--<li>-->
<!--<a href="#"><img src="/images/temp-modelagencies.jpg" width="106" height="103" alt=""/></a>-->

<!--<p>Elite model agency from U.S. have many models</p>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#"><img src="/images/temp-modelagencies.jpg" width="106" height="103" alt=""/></a>-->

<!--<p>Elite model agency from U.S. have many models U.S. have many models</p>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#"><img src="/images/temp-modelagencies.jpg" width="106" height="103" alt=""/></a>-->

<!--<p>Elite model agency from U.S. have many models</p>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#"><img src="/images/temp-modelagencies.jpg" width="106" height="103" alt=""/></a>-->

<!--<p>Elite model agency from U.S. have many models</p>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#"><img src="/images/temp-modelagencies.jpg" width="106" height="103" alt=""/></a>-->

<!--<p>Elite model agency from U.S. have many models</p>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#"><img src="/images/temp-modelagencies.jpg" width="106" height="103" alt=""/></a>-->

<!--<p>Elite model agency from U.S. have many models</p>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#"><img src="/images/temp-modelagencies.jpg" width="106" height="103" alt=""/></a>-->

<!--<p>Elite model agency from U.S. have many models</p>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#"><img src="/images/temp-modelagencies.jpg" width="106" height="103" alt=""/></a>-->

<!--<p>Elite model agency from U.S. have many models</p>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="show-all">-->
<!--<a href="#">Все (70)</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="b-ftrends">-->
<!--<h3>Тренды</h3>-->

<!--<div class="b-look">-->
<!--<div class="b-look-map">-->
<!--<img class="look-img" src="/images/temp-look-map.jpg" width="255" height="385" alt=""/>-->
<!--<h4>Look of Week</h4>-->
<!--<ol class="look-map-items">-->
<!--<li id="look-map-item-1">-->
<!--<i class="dig">1</i>-->

<!--<div class="look-map-item-view" style="display: none;">-->
<!--<i></i>-->
<!--<img src="/images/temp-look-map-item.jpg" width="67" height="65" alt=""/><br/>-->
<!--<span>Shoes &mdash; Prada</span>-->
<!--</div>-->
<!--</li>-->
<!--<li id="look-map-item-2">-->
<!--<i class="dig">2</i>-->

<!--<div class="look-map-item-view" style="display: none;">-->
<!--<i></i>-->
<!--<img src="/images/temp-look-map-item.jpg" width="67" height="65" alt=""/><br/>-->
<!--<span>Shoes &mdash; Prada</span>-->
<!--</div>-->
<!--</li>-->
<!--<li id="look-map-item-3">-->
<!--<i class="dig">3</i>-->

<!--<div class="look-map-item-view" style="display: none;">-->
<!--<i></i>-->
<!--<img src="/images/temp-look-map-item.jpg" width="67" height="65" alt=""/><br/>-->
<!--<span>Shoes &mdash; Prada</span>-->
<!--</div>-->
<!--</li>-->
<!--</ol>-->
<!--</div>-->
<!--<p class="description">Helen, 20 years old, Brand Manager</p>-->
<!--</div>-->
<!--<ul class="b-ftrends-list">-->
<!--<li>-->
<!--<img class="pic" src="/images/temp-ftrends-list.jpg" width="59" height="57" alt=""/>-->
<!--<h5>Fall 2010</h5>-->

<!--<p>candy pratts price calls out the season's most captivating accessory trends</p>-->
<!--</li>-->
<!--<li>-->
<!--<img class="pic" src="/images/temp-ftrends-list.jpg" width="59" height="57" alt=""/>-->
<!--<h5>True Romance</h5>-->

<!--<p>red-hot baubles, bra sets, and other valentine's day goodies worth falling for</p>-->
<!--</li>-->
<!--<li>-->
<!--<img class="pic" src="/images/temp-ftrends-list.jpg" width="59" height="57" alt=""/>-->
<!--<h5>Cold Ease</h5>-->

<!--<p>the down jackets, fur vests, and cashmere sweaters to snuggle up in this winter</p>-->
<!--</li>-->
<!--<li>-->
<!--<img class="pic" src="/images/temp-ftrends-list.jpg" width="59" height="57" alt=""/>-->
<!--<h5>Step in Line</h5>-->

<!--<p>get a jump on the military trend with these capes, fur-lined parkas, studded boots, and more</p>-->
<!--</li>-->
<!--<li class="show-all">-->
<!--<a href="#">Все (70)</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="column-right">-->
<!--<div class="b-fblogs">-->
<!--<h3>Топ блоги</h3>-->
<!--<ul>-->
<!--<li>-->
<!--<h4 style="background-image: url('/images/temp-fblogs.jpg');"><a href="#">NEWfaces</a></h4>-->

<!--<p>Fashion Models appeared in Italy during the sixties in Italy during the sixties</p>-->
<!--</li>-->
<!--<li>-->
<!--<h4 style="background-image: url('/images/temp-fblogs.jpg');"><a href="#">NEWfaces</a></h4>-->

<!--<p>Fashion Models appeared in Italy during the sixties</p>-->
<!--</li>-->
<!--<li>-->
<!--<h4 style="background-image: url('/images/temp-fblogs.jpg');"><a href="#">NEWfaces</a></h4>-->

<!--<p>Fashion Models appeared in Italy during the sixties</p>-->
<!--</li>-->
<!--<li>-->
<!--<h4 style="background-image: url('/images/temp-fblogs.jpg');"><a href="#">NEWfaces</a></h4>-->

<!--<p>Fashion Models appeared in Italy during the sixties</p>-->
<!--</li>-->
<!--<li>-->
<!--<h4 style="background-image: url('/images/temp-fblogs.jpg');"><a href="#">NEWfaces</a></h4>-->

<!--<p>Fashion Models appeared in Italy during the in Italy during the sixties sixties</p>-->
<!--</li>-->
<!--<li>-->
<!--<h4 style="background-image: url('/images/temp-fblogs.jpg');"><a href="#">NEWfaces</a></h4>-->

<!--<p>Fashion Models appeared in Italy during the sixties</p>-->
<!--</li>-->
<!--<li>-->
<!--<h4 style="background-image: url('/images/temp-fblogs.jpg');"><a href="#">NEWfaces</a></h4>-->

<!--<p>Fashion Models appeared in Italy during the sixties</p>-->
<!--</li>-->
<!--<li>-->
<!--<h4 style="background-image: url('/images/temp-fblogs.jpg');"><a href="#">NEWfaces</a></h4>-->

<!--<p>Fashion Models appeared in Italy during the sixties</p>-->
<!--</li>-->
<!--<li>-->
<!--<h4 style="background-image: url('/images/temp-fblogs.jpg');"><a href="#">NEWfaces</a></h4>-->

<!--<p>Fashion Models appeared in Italy during the sixties</p>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="show-all">-->
<!--<a href="#">Все (40)</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="b-ffaces">-->
<!--<h3>Новые лица</h3>-->
<!--<ul>-->
<!--<li>-->
<!--<a class="pic" href="#"><img src="/images/temp-ffaces.jpg" width="102" height="145" alt=""/></a>-->

<!--<div class="title">-->
<!--<em>Alex Sandor Alex Sandor</em>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<a class="pic" href="#"><img src="/images/temp-ffaces.jpg" width="102" height="145" alt=""/></a>-->

<!--<div class="title">-->
<!--<em>Alex Sandor</em>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<a class="pic" href="#"><img src="/images/temp-ffaces.jpg" width="102" height="145" alt=""/></a>-->

<!--<div class="title">-->
<!--<em>Alex Sandor</em>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<a class="pic" href="#"><img src="/images/temp-ffaces.jpg" width="102" height="145" alt=""/></a>-->

<!--<div class="title">-->
<!--<em>Alex Sandor</em>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="show-all">-->
<!--<a href="#">Все (130)</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="b-fdesigners">-->
<!--<h3>Новые фотографы</h3>-->
<!--<ul>-->
<!--<li>-->
<!--<a class="pic" href="#"><img src="/images/temp-fdesigners.jpg" width="100" height="130" alt=""/></a>-->

<!--<div class="title">-->
<!--<span>Nina Ricci Nina Ricci</span>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<a class="pic" href="#"><img src="/images/temp-fdesigners.jpg" width="100" height="130" alt=""/></a>-->

<!--<div class="title">-->
<!--<span>Nina Ricci</span>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<a class="pic" href="#"><img src="/images/temp-fdesigners.jpg" width="100" height="130" alt=""/></a>-->

<!--<div class="title">-->
<!--<span>Nina Ricci</span>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<a class="pic" href="#"><img src="/images/temp-fdesigners.jpg" width="100" height="130" alt=""/></a>-->

<!--<div class="title">-->
<!--<span>Nina Ricci</span>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<a class="pic" href="#"><img src="/images/temp-fdesigners.jpg" width="100" height="130" alt=""/></a>-->

<!--<div class="title">-->
<!--<span>Nina Ricci</span>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<a class="pic" href="#"><img src="/images/temp-fdesigners.jpg" width="100" height="130" alt=""/></a>-->

<!--<div class="title">-->
<!--<span>Nina Ricci</span>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<a class="pic" href="#"><img src="/images/temp-fdesigners.jpg" width="100" height="130" alt=""/></a>-->

<!--<div class="title">-->
<!--<span>Nina Ricci</span>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<a class="pic" href="#"><img src="/images/temp-fdesigners.jpg" width="100" height="130" alt=""/></a>-->

<!--<div class="title">-->
<!--<span>Nina Ricci</span>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="show-all">-->
<!--<a href="#">Все фотографы (130)</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="clear"></div>-->


</div>


</div>
