<div class="body">
  <div class="column-left">
    <%= render 'form' %>
  </div>
  <div class="column-right">
    <div class="b-right-banner">
      <%= render "layouts/like_box" %>
    </div>
  </div>
  <div class="clear"></div>
</div>